
	<div  class="cont">
		<div class="split left">
  
	<div class="demo">
	<div class="login">
		<div class="login__intro">
		<p class="login__title">Checklist</p>
      <p class="login__text">Tracking adherance to process through checklists made a breeze through IBM Checklist Manager.</p>
		</div>
      <div class="login__form">
     

		  <button type="button" class="login__submit" (click) = "checklistClicked()">Get Started</button><br> <a style="color: #fff;" href="http://localhost:4200/home">Click to know more</a><br> <br>
        <p class="login__register">Don't have an account? &nbsp;<a href="#">Register Here</a></p>
      </div>
      </div>
		</div>
		</div>
		
	<div class="split right">
  
	  <div class="demo">
	<div class="login">
		<div class="login__intro">
		<p class="login__title">Survey</p>
      <p class="login__text">Tracking adherance to process through checklists made a breeze through IBM Survey Manager.</p>
		</div>
      <div class="login__form">

		  <button type="button" class="login__submit" (click) = "surveyClicked()">Get Started</button><br> <a style="color: #fff;" href="/home">Click to know more</a><br> <br>
        <p class="login__register">Don't have an account? &nbsp;<a href="#">Register Here</a></p>
      </div>
      </div>
		</div>
		</div>
		</div>
  