<div class="topic-title">
    <svg class="bg-topic-title" xmlns="http://www.w3.org/2000/svg" width="380px" height="100px" viewBox="0 0 380 100">
      <polygon points="0,0 0,70 200,70 380,0 "/>
    </svg>
    <div class="title-name">
        <h1>Survey Manager</h1>
    </div>
  </div>

<div class="grid-container">
<div class="intro-left">
<p> <span class="la-wordmark"> Tracking adherance to process through checklists made a breeze through IBM Checklist Manager. 
 <br>  In 3 easy steps - Design a template, Create Copies from templates and Capture/Report Process Data. </span>
</p>
</div>
<div class="intro-right">
<a href="template/create" class="button" value="Input Button">Design a Checklist Template</a>
<br /><br/>
<a href="checklist/create" class="button" value="Input Button">Start a Checklist</a>
</div>
</div>

<div class="grid-container">
<div class="card1">
<h1>Design a Template</h1>
<a href="template/create"><img src="assets/images/designchecklist.jpg" align="center"/></a>
</div>
<div class="card2">
<h1>Create Checklist</h1>
<a href="checklist/create"><img src="assets/images/make-copies.jpg" align="center"/></a>
</div>
<div class="card3">
<h1>Administer Checklists</h1>
<img src="assets/images/checklist.gif" align="center"/>
</div>
</div>