<div class="topic-title">
    <svg class="bg-topic-title" xmlns="http://www.w3.org/2000/svg" width="380px" height="100px" viewBox="0 0 380 100">
      <polygon points="0,0 0,70 200,70 380,0 "/>
    </svg>
    <div class="title-name">
        <h1>Checklists</h1>
    </div>
  </div>

<!--<div class="container">-->
<ol class="breadcrumb">
		<li><a routerLink="/" routerLinkActive="active">Home</a></li>
		<li><a routerLink="/mydashboard" routerLinkActive="active">Dashboard</a></li>
		<li  class="active">Checklists</li>
	</ol>
	<div class="grid-container">	
	<div class="form-group">

			<table class="table table-striped" [mfData]="malApplications">						
					<thead>
					
					
					<tr>
						
						<th style="width: 20%" class="text-left">
							<mfDefaultSorter by="id">Name</mfDefaultSorter>
						</th>
						<th style="width: 70%" class="text-left">
							<mfDefaultSorter by="email">Description</mfDefaultSorter>
						</th>
						<th style="width: 10%" class="text-left">
							<mfDefaultSorter by="email"></mfDefaultSorter>
						</th>
						
						
					</tr>
					

					</thead>
					<tbody>
					<tr *ngFor="let template of templates; let i = index;">
					 <ng-template [ngIf]="template.isTemplate == 'false'">	
						<td class="text-left">{{template.templateName}}</td>
						<td class="text-left" >{{template.templateDesc}} </td>
					
						<td class="text-left">
											<!--	<a routerLink="/checklist/{{template._id}}/edit"><span class="glyphicon glyphicon-edit" aria-hidden=true></span></a> -->
												<a (click)="deleteTemplate(template._id,i)"><span class="glyphicon glyphicon-trash" aria-hidden=true></span></a>
						</td>
					</ng-template>
					<tr >
						
					</tbody>
					<tfoot>
					<tr>
						<td colspan="5">
							<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
						</td>
					</tr>
					</tfoot>
				</table>
				</div>	
				
				
				</div>